services:

  db:
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017
    # environment:
    #   MONGO_INITDB_ROOT_USERNAME: admin
    #   MONGO_INITDB_ROOT_PASSWORD: password
    env_file:
      - .env
    volumes:
      - .data/mongo:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s

  backend:
    image: '${DOCKER_IMAGE_BACKEND?Variable not set}:${TAG-latest}'
    build: ./backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      MONGO_HOST: db
    depends_on:
      db:
        condition: service_healthy
        restart: true
