[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi[standard]>=0.115.8",
    "numba>=0.61.0",
    "pymongo>=4.11.1",
    "python-ulid>=3.0.0",
]
